# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

#TailwindCSSIntellisense bug fig
tailwind.config.js

bookthecook-c42b1-firebase-adminsdk-fbsvc-7b39cb286c.json
